@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100&display=swap');

body{background-color: beige;}

nav ul{
    margin-right: 30px;
    margin-left: 500px;
    background-color: beige;
    opacity: 0.9;
    box-shadow: 0 5px 10px rgb(7 7 7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;}

a:hover{background-color:black ;color: white;}

nav ul li{display: inline-block;
        line-height: 80px;
        margin: 0 5px;}

nav ul li a{font-size: 27px;
            padding: 7px;
            color: black;text-decoration: none; 
            text-align: center;
            width: 500px;
            height: 500px;}

h2{
font-family: 'Martian Mono', monospace;
 margin-top: 140px;
 margin-left: 85px;
 font-size: 45px;}

 main{display: flex;
    flex-direction:row;
    justify-content: center;
}

.derecha a{
    color: #fff;
    background-color: #634e42;
    border-color: #634e42;
    border-radius: 0;
    font-size: 15px; 
    padding: 0.5rem 1rem;display: inline-block;
    font-weight: 400;
    vertical-align: middle;user-select: none;border: 1px solid transparent;line-height: 1.5;text-decoration: none;margin-right: 10%;
    }

div.derecha {
  
    padding: 10px;
    font-size: 25px;
    border-radius: 60px;
    font-family: 'Martian Mono', monospace;
  
    width: 50%;margin-left: 40px;
    text-align: center;}

.derecha p{ 
    padding: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 60px;background-color: white;
    font-family: 'Martian Mono', monospace;
     margin-right: 15px;

}

.iconos{width: 23%;display:flex;}

div#izquierda{
    flex-direction: column;
    display: flex;
    width:50%;
    margin-right: 18%;
}

#izquierda img{padding: 20px;
margin-left: 20px;
margin-right: 5px;justify-content: center;
text-align: center;}

#izquierda p{padding: 25px;
    margin-left: 10px;
    margin-right: 20px;margin-top: 20px;
    justify-content:center;
padding-top: 35px;font-family: 'Martian Mono', monospace;}

#imageneshabitaciones{
    width: 60%;
    display:flex;margin-top: 123px;
}


#imageneshabitaciones img{
    width: 100%;
}

footer{
    display: flex;
align-items: center;
font-size: 20px;
justify-content: space-around;text-shadow: -8px 5px 17px rgb(0 0 0 / 86%);color:black;font-family: 'Martian Mono', monospace;}

footer p {

background-color: rgb(245 245 220 / 30%);
}
footer a{
    text-decoration: none;
    color: black;
   } 
   @media screen and (max-width:1024px) {
    main{flex-direction: column-reverse;
        position: relative;}
        .iconos{flex-direction: column;
        width: 50%;}
        #imageneshabitaciones{width: 80%;}

    nav ul{
        display: flex;
        flex-direction: column;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: 10px;width: 35%;
        height: auto;position: relative;
        display: none; }}
   
@media screen and (max-width:1217px){
nav ul li a{ font-size:17px;}}
