@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300&display=swap');
body{background-image: url(./RESTAURANTE/IMAGEN\ SPA\ -\ copia.jpg);background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;}

nav ul{
    margin-right: 30px;
    margin-left: 500px;
    background-color: beige;
    opacity: 0.5;
    box-shadow: 0 5px 10px rgb(7 7 7);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    right: 0;}

a:hover{background-color:black ;color: white;}

nav ul li{display: inline-block;
        line-height: 80px;
        margin: 0 5px;}

nav ul li a{font-size: 27px;
            padding: 7px;
            color: black;text-decoration: none; 
            text-align: center;
            width: 500px;
            height: 500px;}

h2{
font-family:;
 margin-top: 117px;
 margin-left: 85px;font-family: 'Chivo Mono', monospace;
 font-size: 50px;}

#spa{
   
    background: rgba(240, 243, 244, 0.374);
    margin:26%;
    padding: 20px;
    border-radius: 15%;
    margin-right: 15%;font-family: 'Chivo Mono', monospace;
    align-items: center;
    
}

#spa h3{
    text-align: center;font-family: 'Chivo Mono', monospace;
}
#spa p{text-align: justify;font-family: 'Chivo Mono', monospace;}

#spa img{
    width: 8%;
    height: 8%;

}
.contenedor{
    display: flex;
    flex-direction:row;
    justify-content: center;
}
#imagenesizquierda img{flex-direction: column;
    display: flex;
    width:80%;
padding: 5%; margin-bottom: 5%;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;font-family: 'Chivo Mono', monospace;
    color: white;font-size: 20px;}